script(type='text/javascript')

  $('document').ready(function(){
    for(var i=0;i<5;i++) {
      $('#list').append(jade.render('_list', {list: i}));
    }
  });

h1 Language Experiment

#list

form
  label
    span Username
    input(type='text', name='username')
  label
    span Password
    input(type='password',name='password', class='small')


  input(type='submit',value=param1)
  