
form(action='/signup', method='post')

  label
    span Username
    input(type='text', name='username')
  label
    span Password
    input(type='password',name='password')
  label
    span Email address
    input(type='text',name='email')

  label
    input(type='submit',value='Register')
