form label {
  float: none;
}
form label span {
  float: none;
}
form label input,
form label input[type="submit"] {
  display: inline-block;
  margin: 0 1em 0 0;
}
form label input[type="text"].big {
  width: 40em;
}
#myActivity,
#mySnippets {
  float: left;
  width: 27em;
  margin-top: 2em;
  margin-right: 1em;
}
#myActivity .date,
#mySnippets .date {
  font-size: 0.8em;
}
#myActivity .unread,
#mySnippets .unread {
  background-color: #ff9;
  padding: 0.3em 0;
}
#myActivity .comments,
#mySnippets .comments {
  margin-left: 2em;
}
#myActivity .comments ul,
#mySnippets .comments ul {
  margin-top: 1em;
}
#myActivity .comments li,
#mySnippets .comments li {
  background-color: #ddd;
  margin-top: 0.05em;
}
#myActivity .comments input,
#mySnippets .comments input {
  margin: 0 0.5em 0 0;
  display: inline-block;
}
.createSnippet {
  display: inline-block;
  margin-top: 2em;
}
